workdir: "/scratch/proj/02-compost-microbes"
homedir: "/scratch/proj/02-compost-microbes"

TASK: "cache/116-hpf-transposases-curatedHMM-funannotate-v2"
TMP: "/scratch/tmp"
TMP_DIR: "/scratch/tmp"

HPF: 
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/fusarium.tsv
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/talaromyces.tsv
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/mucor.tsv
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/scedosporium.tsv
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/lichtheimia.tsv
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/rhizopus.tsv
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/rhizomucor.tsv
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/cryptococcus.tsv
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/exophiala.tsv 
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/aspergillus.tsv

ASPERGILLUS:
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/aspergillus.tsv

FUMIGATI: 
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/fumigati.tsv

TEST: 
    - /scratch/proj/02-compost-microbes/doc/14-phylogeny-accessions/fumigatus_cli_env_test.tsv

AFU_AFI_AOE:
    - GCF_000002655.1
    - GCF_000149645.3
    - GCA_014250555.1